NODE_ENV

PORT
APPLICATION_URL
ALLOWED_ORIGIN

COOKIES_SECRET
JWT_ACCESS_SECRET
JWT_REFRESH_SECRET
JWT_ACCESS_EXPIRESIN=30m
JWT_REFRESH_EXPIRESIN=30d

POSTGRES_USER
POSTGRES_PASSWORD
POSTGRES_PORT
POSTGRES_HOST
POSTGRES_DB

POSTGRES_URI
